//! **************************************************************************
// Written by: Map P.20131013 on Thu Aug 24 14:12:19 2017
//! **************************************************************************

SCHEMATIC START;
COMP "A" LOCATE = SITE "P11" LEVEL 1;
COMP "B" LOCATE = SITE "L3" LEVEL 1;
COMP "C" LOCATE = SITE "K3" LEVEL 1;
COMP "X" LOCATE = SITE "M5" LEVEL 1;
SCHEMATIC END;

