//! **************************************************************************
// Written by: Map P.20131013 on Thu Oct 26 16:44:34 2017
//! **************************************************************************

SCHEMATIC START;
COMP "S0" LOCATE = SITE "M5" LEVEL 1;
COMP "S1" LOCATE = SITE "M11" LEVEL 1;
COMP "S2" LOCATE = SITE "P7" LEVEL 1;
COMP "S3" LOCATE = SITE "P6" LEVEL 1;
COMP "Z_Out" LOCATE = SITE "G1" LEVEL 1;
COMP "RegSel" LOCATE = SITE "N3" LEVEL 1;
COMP "Clock" LOCATE = SITE "G12" LEVEL 1;
COMP "C_Out" LOCATE = SITE "P4" LEVEL 1;
COMP "D0" LOCATE = SITE "P11" LEVEL 1;
COMP "D1" LOCATE = SITE "L3" LEVEL 1;
COMP "D2" LOCATE = SITE "K3" LEVEL 1;
COMP "D3" LOCATE = SITE "B4" LEVEL 1;
SCHEMATIC END;

