NET "D0" LOC="P11";
NET "D1" LOC="L3";
NET "D2" LOC="K3";
NET "D3" LOC="B4";
NET "Clock" LOC="G12";
NET "RegSel" LOC="N3";
NET "S0" LOC="M5";
NET "S1" LOC="M11";
NET "S2" LOC="P7";
NET "S3" LOC="P6";
NET "C_Out" LOC="P4";
NET "Z_Out" LOC="G1";